{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Instagram | Login </title>
</head>

<body>

  <div id="wrapper">
    <div class="container">

      <div class="form-data">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}<h3>Edit Profile</h3>
          {{form.picture}}
          {{form.first_name}}
          {{form.last_name}}
            {{form.location}}
            {{form.bio}}
            {{form.url}}
          <button class="form-btn" type="submit">Update</button>

        </form>



      </div>
    </div>

{% endblock %}